@import "../../../assets/fonts.scss";

.header_content {
  margin: 0 0 30px 25px;
  h3 {
    font-size: $contact_heading;
    font-weight: 500;
    font-style: normal;
    margin: 0;
  }
  p {
    font-size: 10px;
    color: $contact_sub;
    margin: 0;
  }
  i {
    font-size: 30px;
    padding: 5px 10px 0 0;
    background: -webkit-linear-gradient($gradieant_color_1, $gradieant_color_2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .con_heading {
    margin: 0 40px 0 0;
  }
  select {
    background: no-repeat;
    border: none;
    font-size: 15px;
    outline: none;
    cursor: pointer;
  }
  .sort_text {
    padding: 8px 0 0 0;
    font-size: 15px;
  }
}
